{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!-- default icons used in the plugin are from Bootstrap 5.x icon library (which can be enabled by loading CSS below) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous">

<!-- the fileinput plugin styling CSS file -->
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/plugins/piexif.min.js"
    type="text/javascript"></script>

<!-- bootstrap.bundle.min.js below is needed if you wish to zoom and preview file content in a detail modal
    dialog. bootstrap 5.x or 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
</script>

<!-- the main fileinput plugin script JS file -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
{{/section}}

{{#section 'js'}}
<script src="/js/admin-manager.js"></script>

<script>
    // with plugin options
    $("#file").fileinput({
        'showUpload': false,
        'previewFileType': 'any'
    });
    $("#file").fileinput('upload').fileinput('disable');
</script>
{{/section}}

<div class="card" style="min-width: 44rem;">
    <div class="card-body">
        <div class="row my-2">
            <div class="col-md-8 border-right">
                <h4><i class="fa fa-tags"></i>Lấy tin tức từ trang khác</h4>
            </div>
            <div class="col-md-4">
                <button id="add-script-btn" href="#add_script_modal" class="btn btn-success float-right"
                    data-toggle="modal"><i class="fa fa-plus"></i>
                    Thêm Script</i></button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-2">
                <div class="form-group d-flex align-items-center">
                    <label class="col-form-label" for="website-news" style="user-select: none;"><b>Chọn trang tin
                            tức</b></label>
                </div>
            </div>
            <div class="col-md-6 float-right">
                <div class="form-group">
                    <select id="website-news" class="form-control">
                        <option selected>Chọn trang</option>
                        <option value="1">Kênh 14</option>
                        <option value="2">vnExpress</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button id="del-script-btn" href="#del-script-modal" class="btn btn-danger float-right mx-2"
                    data-toggle="modal"><i class="fa fa-trash" title="Xoá script"></i>
                    Xoá script</button>
                <button id="run-script-btn" href="#run-script-modal" class="btn btn-primary float-right mx-2" data-toggle="modal"><i
                        class="fa fa-files-o" title="Chạy script"></i>
                    Chạy script</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="del-script-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Xác nhận</h3>
            </div>
            <div class="modal-body">
                <p id="content"></p>
            </div>
            <div class="modal-footer">
                <form action="#" method="POST" id="form">
                    <input type="hidden" id="del-script-id" name="id" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary" type="submit">Xác nhận</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="run-script-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Chạy Script</h3>
            </div>
            <div class="modal-body">
                <p id="content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button class="btn btn-primary" id="run-confirm">Xác nhận</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_script_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm script mới</h3>
            </div>
            <div class="modal-body">
                <form action="/admin/manage/script/add" method="POST" id="add-script-form">
                    <div class="row m-3">
                        <div class="col-md-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="col-form-label" for="script-name" style="user-select: none;">Nhập tên
                                    script</label>
                            </div>
                        </div>
                        <div class="col-md-9 float-right">
                            <div class="form-group">
                                <input class="form-control" id="script-name" type="text" name="scriptName">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-light mx-auto" style="width: fit-content;">
                        <input id="file" name="file" type="file" class="file" data-browse-on-zone-click="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button class="btn btn-primary" type="submit" form="add-script-form">Xác nhận</a>
            </div>
        </div>
    </div>
</div>