{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script src="/js/admin-manager.js"></script>
{{/section}}

<div class="card" style="min-width: 44rem;">
    <div class="card-body">
        <div class="row my-2">
            <div class="col-md-8 border-right">
                <h4><i class="fa fa-tags"></i>Lấy tin tức từ trang khác</h4>
            </div>
            <div class="col-md-4">
                <button id="add-script-btn" href="#add_script_modal" class="btn btn-success float-right"
                    data-toggle="modal"><i class="fa fa-plus"></i>
                    Thêm</i></button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-2">
                <div class="form-group d-flex align-items-center">
                    <label class="col-form-label" for="website-news" style="user-select: none;"><b>Chọn trang tin
                            tức</b></label>
                </div>
            </div>
            <div class="col-md-6 float-right">
                <div class="form-group">
                    <select id="website-news" class="form-control">
                        <option selected>Chọn trang</option>
                        {{#each listAPI}}
                        <option data-foo="{{this.idAPI}}" value="{{this.link}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button id="del-script-btn" href="#del-script-modal" class="btn btn-danger float-right mx-2"
                    data-toggle="modal"><i class="fa fa-trash" title="Xoá script"></i>
                    Xoá</button>
                <button id="run-script-btn" href="#run-script-modal" class="btn btn-primary float-right mx-2"
                    data-toggle="modal"><i class="fa fa-files-o" title="Chạy script"></i>
                    Chạy</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="del-script-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Xác nhận xoá</h3>
            </div>
            <div class="modal-body">
                <p id="content"></p>
            </div>
            <div class="modal-footer">
                <form action="/admin/manage/script/del" method="POST" id="formDelScript">
                    <input type="hidden" id="del" name="id" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary" type="submit">Xác nhận</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="run-script-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Chạy API</h3>
            </div>
            <div class="modal-body">
                <p id="content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button class="btn btn-primary" id="run-confirm">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_script_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm API mới</h3>
            </div>
            <div class="modal-body">
                <form action="/admin/manage/script/add" method="POST" id="add-script-form">
                    <div class="row m-3">
                        <div class="col-md-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="col-form-label" for="script-name" style="user-select: none;">Nhập tên
                                    script</label>
                            </div>
                        </div>
                        <div class="col-md-9 float-right">
                            <div class="form-group">
                                <input class="form-control" id="script-name" type="text" name="scriptName">
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="col-form-label" for="api-link" style="user-select: none;">Nhập link
                                    API</label>
                            </div>
                        </div>
                        <div class="col-md-9 float-right">
                            <div class="form-group">
                                <input class="form-control" id="api-link" type="text" name="apiLink">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button class="btn btn-primary" type="submit" form="add-script-form">Xác nhận</button>
            </div>
        </div>
    </div>
</div>